@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    

}

:root{
    --orange-clr:#e96c28;
    --white-clr:#fff;
    --black-clr:#000;
    --gray-clr:#636363;
    --light-grey:#c4c4c4;
    --dawn-pink:#fae7e5;
    --frosted-mint:#dcfef9;



}
.nav-logo{
    z-index: 6;
}
.logo-txt{
    font-size: 1.5rem;
    color: var(--orange-clr);
    font-weight: bold;
}
a{
    text-decoration: none;
}
span{
    color:var(--black-clr)
}

.nav-options{
    display:flex;
    align-items: center;
    gap:2rem;
}
li{
    list-style: none;
}
.nav-links{
    display: flex;
    color:var(--black-clr);
    font-weight:500;

}
.active,.nav-links:hover{
    color:var(--orange-clr);
}
.icon-links{
    background-color: var(--orange-clr);
    width:2.3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right:.5rem;
    display:inline-block;
    text-align: center;
    line-height: 2.3rem;
    transition: .3s ease-in-out;
    
}
.icon-links:hover{
    transform:translateY(-7%);
}
.fa-solid,.fa-brands{
    font-size: 1.1rem;
    color:var(--white-clr);

}
header{
    /* background-color: lightblue; */
    height:13vh;
}
.nav-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100%
}
/* .nav-icons{
    margin-top:1.5rem;
} */
.container{
    width:80%;
    margin:auto;
}
.hambgr{
    cursor:pointer;
    display:none;
}
.fa-bars{
    
    
    color: var(--black-clr);
}

/* hero section */

.hero-section{
    height:calc(100vh - 13vh);
    
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.content{

    
    flex:1;

}
.image-container{
    
    position:relative;
    flex:1;
}
.image-container::before{
    content:'';
    position:absolute;
    top:50%;
    right:0%;
    background-color: var(--dawn-pink);
    width: 35rem;
    height: 30vh;
    border-radius: 50%;
    z-index:-1;
    filter:blur(50px)
}
img{
    max-width:100%;
    height:auto;
}
h1{
    font-size: 3.5rem;
    line-height: 4rem;
    margin-top: 1rem;

}
.watch{
    display:flex;
    gap: 0.5rem;
    align-items: center;
}
p{
    color:var(--gray-clr);
    margin:1.5rem 0 1.5rem 0;
    max-width:500px;
}
.btn-container{
    display:flex;
    gap:1.5rem;
}
button,.form-btn{
    background-color:var(--orange-clr);
    color:var(--white-clr);
    border:.1rem solid var(--orange-clr);
    padding:.55rem 1.5rem .55rem 1.5rem;
    border-radius:5rem;
    font-size: 1rem;
}
[data-type='bordered-btn']{
    background-color: transparent;
    color: var(--orange-clr);
}
.mint-glow{
    position: relative;
}
.mint-glow:before{
    content: '';
    position:absolute;
    top:-5%;
    left: -5%;
    
    width:20rem;
    height:100%;
    background: var(--frosted-mint);
    border-radius:50%;
    z-index: -1;
    filter:blur(150px)
}

/* store section */
.other-section{
    padding-block:5rem;
}
.row-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5rem; 

}
.column-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 1.8rem;

}
[data-type='centered-txt']{
    text-align: center;
    max-width:600px;
    margin-block:.5rem;
}
.card-container{
    display:flex;
    justify-content: center;
    /* align-items: center; */
    gap:2rem;
    margin-top:2rem;
    flex-wrap: wrap;
    width: 100%;
    
    

}
.resize{
    width:60%;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.164) 0px 1px 4px;
    text-align: center;
    width:15rem;
    /* height:22rem; */

    border-radius: 1rem;
    
    padding-block:2.5rem;
    transition: .3s ease-in-out;
    
    
   
}
.card:hover{
    box-shadow: rgba(50, 50, 93, .25)
    0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3)
    0px 8px 16px -8px;
    transform:translateY(-2%);
    cursor:pointer;

}
/* featured food */
h4{
    font-weight:600;
}

[data-type='item']{
    padding-bottom:1.3rem;
    overflow: hidden;
    
}
.image-part{
    width:100%;
    height:23vh;
    
}
.image-part img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

/* app section */

.app-img{
    display: flex;
    gap:1rem;
    width:100%;
    height:4.5rem;
}
.rating img{
    width:7rem;
    

}
.rating h4{
    color: var(--orange-clr);
    font-size: 1.3rem;
}
.rating{
    display:flex;
    align-items: center;
    gap:2rem;
    margin-top:1rem;
}

/* newsletter section */

.form-container{
    margin-top: 1.2rem;
    border:.02rem solid var(--light-grey);
    height:3.5rem;
    border-radius:5rem;
    padding: .25rem;

}
input[type='email']{
    height: 100%;
    border-radius: 5rem 0 0 5rem;
    border:none;
    font-size: 1rem;
    padding-left:1rem;


}
input:focus{
    outline:none;
}

/* footer section */

.footer{
    margin-bottom: 2rem;

}

.footer-links {
    color:var(--gray-clr);
    font-size: 0.95rem;
    
}
.footer-links:hover{
    color: var(--orange-clr);
}
.footer-list{
    margin-top: 2rem;
}
.footer-list li{
    margin-block: .5rem;
}
[data-type='balanced-txt']{
    max-width: 300px;

}
.icon-links-f{
    background-color: var(--orange-clr);
    opacity: 45%;
    width:2.3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right:.5rem;
    display:inline-block;
    text-align: center;
    line-height: 2.3rem;
    
    
}
.icon-links-f:hover{
    opacity: 100%;
}
footer .card-container{
    justify-content: space-between;
    margin-bottom: 5rem;
}
.line{
    width: 100%;
    height: .1rem;
    background: var(--light-grey);
    margin-block: 2rem;
}

/* media queries */
@media screen and (max-width:680px){
    .container{
        width:90%;
    }
    .image-container{
        display: none;
    }
    h1{
        font-size: 2.8rem;
    }
    .nav-icons{
        display: none;;
    }
    .hambgr{
        display:block;
        
        
    }
    .nav-options{
        position: absolute;
        top: 0;
        left:0;
        flex-direction: column;
        justify-content: center;
        background: var(--dawn-pink);
        height: 100vh;
        width:60%;
        z-index: 5;
        transform: translate(-100%);
        transition: .5s ease-in-out;
    }
    .nav-options-active{
        transform: translate(0%);
    }
}